/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
app/Http/Helpers/Helper.php
app/Models/Deposit.php
app/Notifications/DepositSuccessful.php
public/PQR_.png
public/PQR_1.png
public/PQR_2.png
public/PQR_3.png
public/PQR_4.png
public/PQR_5.png
public/PQR_8.png
public/PQR_9.png
public/auditorias_pics/activacion_1.png
public/auditorias_pics/activacion_2.png
public/auditorias_pics/activacion_3.png
public/auditorias_pics/activacion_4.png
public/auditorias_pics/activacion_5.png
public/auditorias_pics/activacion_6.png
public/auditorias_pics/activacion_7.png
public/auditorias_pics/activacion_8.png
public/auditorias_pics/activacion_9.png
public/auditorias_pics/activacion_10.png
public/auditorias_pics/activacion_11.png
public/auditorias_pics/activacion_12.png
public/auditorias_pics/Afiche_9.png
public/auditorias_pics/Afiche_10.png
public/auditorias_pics/aguard_smirnoff_10.png
public/auditorias_pics/Aguardiente_9.png
public/auditorias_pics/Aguardiente_10.png
public/auditorias_pics/Base_h_9.png
public/auditorias_pics/Base_h_10.png
public/auditorias_pics/Branding_9.png
public/auditorias_pics/Branding_10.png
public/auditorias_pics/Cenefa_9.png
public/auditorias_pics/Cenefa_10.png
public/auditorias_pics/DosificadorD_9.png
public/auditorias_pics/DosificadorD_10.png
public/auditorias_pics/DosificadorS_9.png
public/auditorias_pics/DosificadorS_10.png
public/auditorias_pics/fachadas_9.png
public/auditorias_pics/Faxada_9.png
public/auditorias_pics/Faxada_10.png
public/auditorias_pics/Gift_10.png
public/auditorias_pics/Gift_12.png
public/auditorias_pics/Hielera_9.png
public/auditorias_pics/Hielera_10.png
public/auditorias_pics/LinealDiageoLinealDg_2.png
public/auditorias_pics/LinealDiageoLinealDg_3.png
public/auditorias_pics/LinealDiageoLinealDg_9.png
public/auditorias_pics/LinealDiageoLinealDg_10.png
public/auditorias_pics/LinealDiageoLinealDg_12.png
public/auditorias_pics/Marco_9.png
public/auditorias_pics/Marco_10.png
public/auditorias_pics/Rompetrafico_9.png
public/auditorias_pics/Rompetrafico_10.png
public/auditorias_pics/Ron_10.png
public/auditorias_pics/ron_byw_10.png
public/auditorias_pics/ron_jhonny_10.png
public/auditorias_pics/segmento_9.png
public/auditorias_pics/segmento_10.png
public/auditorias_pics/segmento_11.png
public/auditorias_pics/segmento_12.png
public/auditorias_pics/tipologia_9.png
public/auditorias_pics/tipologia_10.png
public/auditorias_pics/tipologia_11.png
public/auditorias_pics/tipologia_12.png
public/auditorias_pics/Vasos_9.png
public/auditorias_pics/Vasos_10.png
public/auditorias_pics/activacion/_8.png
public/auditorias_pics/activacion/_9.png
public/auditorias_pics/activacion/_10.png
public/auditorias_pics/activacion/_11.png
public/auditorias_pics/activacion/_12.png
public/auditorias_pics/Afiche/_10.png
public/auditorias_pics/aguard_smirnoff/_10.png
public/auditorias_pics/Aguardiente/_10.png
public/auditorias_pics/Base_h/_10.png
public/auditorias_pics/Branding/_10.png
public/auditorias_pics/Cenefa/_10.png
public/auditorias_pics/DosificadorD/_10.png
public/auditorias_pics/DosificadorS/_10.png
public/auditorias_pics/Faxada/_10.png
public/auditorias_pics/Gift/_10.png
public/auditorias_pics/Gift/_12.png
public/auditorias_pics/Hielera/_10.png
public/auditorias_pics/LinealDiageo/LinealDg_10.png
public/auditorias_pics/LinealDiageo/LinealDg_12.png
public/auditorias_pics/Marco/_10.png
public/auditorias_pics/Rompetrafico/_10.png
public/auditorias_pics/Ron/_10.png
public/auditorias_pics/ron_byw/_10.png
public/auditorias_pics/ron_jhonny/_10.png
public/auditorias_pics/segmento/_10.png
public/auditorias_pics/segmento/_11.png
public/auditorias_pics/segmento/_12.png
public/auditorias_pics/tipologia/_10.png
public/auditorias_pics/tipologia/_11.png
public/auditorias_pics/tipologia/_12.png
public/auditorias_pics/Vasos/_10.png
public/img/sinEvidencia.png
public/PQR/_.png
public/PQR/_1.png
public/PQR/_2.png
public/PQR/_3.png
public/PQR/_4.png
public/PQR/_5.png
public/PQR/_8.png
public/PQR/_9.png
database/migrations/2024_01_19_095206_create_comparativo_marcas_table.php
public/auditorias_pics/Aguardiente_11.png
public/auditorias_pics/LinealDiageoLinealDg_11.png
public/auditorias_pics/Ron_11.png
public/auditorias_pics/Aguardiente/_11.png
public/auditorias_pics/LinealDiageo/LinealDg_11.png
public/auditorias_pics/Ron/_11.png
public/img/Sin título-1.pdf
