@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
/*hr*/
.divider {
    display: flex;
}

.divider:before,
.divider:after {
    content: "";
    flex: 1;
}

.line {
    align-items: center;
    margin: 1em -1em;
}

.line:before,
.line:after {
    height: 1px;
    margin: 0 1em;
}

.razor:before,
.razor:after {
    box-shadow: 0 0.5px 0 rgb(2, 4, 78);
}

.double-razor:before,
.double-razor:after {
    height: 3px;
    box-shadow: 0 -0.5px 0 blue, 0 0.5px 0 rgb(2, 4, 78);
    border-width: 0;
}

.switch-toggleAc input {
    opacity: 0;
    height: 25px;
    min-height: 25px;
    position: absolute;
    border-radius: 0.75rem;
}

.switch-toggle_cant input {
    opacity: 0;
    height: 14px;
    min-height: 14px;
    position: absolute;
    border-radius: 0.75rem;
}

.switch-toggle_cant.switch-candy_cant {
    margin-left: 3rem;
    min-width: 237px;
    width: 310px;
    margin-right: 2rem;
}

.switch-toggle_cant input+label {
    float: center;
    color: #fff;
    height: 75px;
    font-size: 14px;
    cursor: pointer;
}

.switch-toggle.switch-candy {
    margin-left: 3rem;
    min-width: 237px;
    width: 310px;
    margin-right: 2rem;
     border-radius: 0.75rem;
}


.switch-toggle input+label {
    float: center;
    color: #fff;
    height: 100px;
    font-size: 14px;
    cursor: pointer;
     border-radius: 0.75rem;
}

.img_cenefa {
    display: block;
    margin: auto;
    width: 50%;
    min-height: 100%;
}

.img_botellas {
    position: absolute;
    display: block;
    padding-top: 0.50rem;
    margin:  3rem 0 0 2rem ;
    width: 80px;
    min-height: 10%;
    z-index: 0;
}


.img_botellasx3 {
    position: absolute;
    display: block;
    margin: auto;
    width: 160px;

}

.img_afiche {
    display: block;
    margin: auto;
    width: 50%;
    height: 200px;
    min-width: 200px;
    max-width: 200px;
}

.img_marco {

    display: block;
    margin: auto;
    width: 200px;
    height: 250px;
    max-width: 50%;
    min-height: 50%;

}

.img_rompetraficos {

    display: block;
    margin: auto;
    width: 200px;
    height: 250px;
    max-width: 50%;
    min-height: 50%;
}

.img_fachadas {

    display: block;
    margin: auto;
    width: 200px;
    height: 250px;
    max-width: 50%;
    min-height: 50%;
}

.img_hieler {
    display: block;
    margin: auto;
    width: 200px;
    height: 250px;
    max-width: 50%;
    min-height: 50%;
}

.img_bases_h {
    display: block;
    margin: auto;
    width: 180px;
    height: 270px;
    max-width: 50%;
    min-height: 50%;
}

.img_dosificadorD {
    display: block;
    margin: auto;
    width: 180px;
    height: 270px;
    max-width: 50%;
    min-height: 50%;
}

.img_dosificadorS {
    display: block;
    margin: auto;
    width: 200px;
    height: 270px;
    max-width: 50%;
    min-height: 50%;
}

.img_branding {
    display: block;
    margin: auto;
    width: 180px;
    height: 270px;
    max-width: 50%;
    min-height: 50%;
}

.img_vasos {
    display: block;
    margin: auto;
    width: 220px;
    height: 270px;
    max-width: 50%;
    min-height: 50%;
}






/*
.switch-toggle input[value="choose"]+label {
    pointer-events: none;
    color: #e5ff00;
    opacity: 0.5;
} */



.switch-toggle label {
    margin-top: 3rem;
}

.switch-toggle_p label {
    margin-top: 3rem;
}


.switch-toggle input[value="hielera_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="hielera_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="hielera_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="hielera_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="bases_h_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="bases_h_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="bases_h_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}




.switch-toggle input[value="bases_h_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="marco_visi_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="marco_visi_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="marco_visi_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="marco_visi_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="marco_colo_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="marco_colo_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="marco_colo_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="marco_colo_no"]:checked+label {
    background: red;
    color: #fff;
}




.switch-toggle input[value="marco_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="marco_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}



.switch-toggle input[value="fachadas_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="fachadas_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}
.switch-toggle input[value="fachadas_si"]:checked+label {
    background: green;
    color: #fff;
}
.switch-toggle input[value="fachadas_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="fachadas_visi_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="fachadas_visi_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}
.switch-toggle input[value="fachadas_visi_si"]:checked+label {
    background: green;
    color: #fff;
}
.switch-toggle input[value="fachadas_visi_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="fachadas_colo_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="fachadas_colo_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}
.switch-toggle input[value="fachadas_colo_si"]:checked+label {
    background: green;
    color: #fff;
}
.switch-toggle input[value="fachadas_colo_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="cenefa_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="cenefa_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="cenefa_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="cenefa_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="cenefa_visi_si"]:checked+label {
    background: green;
    color: #fff;

}

.switch-toggle input[value="cenefa_visi_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="cenefa_visi_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="cenefa_visi_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="cenefa_colo_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="cenefa_colo_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="cenefa_colo_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="cenefa_colo_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="afiche_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="afiche_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="afiche_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="afiche_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="afiche_visi_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="afiche_visi_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="afiche_visi_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="afiche_visi_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="afiche_colo_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="afiche_colo_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="afiche_colo_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="afiche_colo_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="afiche_combo_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="afiche_combo_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="afiche_combo_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="afiche_combo_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="rompetraficos_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="rompetraficos_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="rompetraficos_no"]:checked+label {
    background: red;
    color: #fff;

}

.switch-toggle input[value="rompetraficos_choose"]:checked+label {
    background: rgb(255, 255, 255);

}


.switch-toggle input[value="combox1_choose"]:checked+label {
    background: rgb(255, 255, 255);

}

.switch-toggle input[value="combox1_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="combox1_si"]:checked+label {
    background: green;
    color: #fff;

}

.switch-toggle input[value="combox1_no"]:checked+label {
    background: red;
    color: #fff;

}



.switch-toggle input[value="combox2_choose"]:checked+label {
    background: rgb(255, 255, 255);

}

.switch-toggle input[value="combox2_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="combox2_si"]:checked+label {
    background: green;
    color: #fff;

}

.switch-toggle input[value="combox2_no"]:checked+label {
    background: red;
    color: #fff;

}

.switch-toggle input[value="combox3_choose"]:checked+label {
    background: rgb(255, 255, 255);

}

.switch-toggle input[value="combox3_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="combox3_si"]:checked+label {
    background: green;
    color: #fff;

}

.switch-toggle input[value="combox3_no"]:checked+label {
    background: red;
    color: #fff;

}

.switch-toggle input[value="marco_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="marco_no"]:checked+label {
    background: red;
    color: #fff;
}





.switch-toggle input[value="dosificadorD_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="dosificadorD_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="dosificadorD_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="dosificadorD_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_dsD_visibles_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_dsD_visibles_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_dsD_visibles_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_dsD_visibles_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_dsD_diferentes_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_dsD_diferentes_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_dsD_diferentes_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_dsD_diferentes_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_dsD_danados_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_dsD_danados_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_dsD_danados_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_dsD_danados_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="dosificadorS_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="dosificadorS_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="dosificadorS_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="dosificadorS_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_dsS_visibles_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_dsS_visibles_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_dsS_visibles_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_dsS_visibles_no"]:checked+label {
    background: red;
    color: #fff;
}



.switch-toggle input[value="prod_dsS_diferentes_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_dsS_diferentes_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_dsS_diferentes_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_dsS_diferentes_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_dsS_danados_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_dsS_danados_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_dsS_danados_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_dsS_danados_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="branding_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="branding_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="branding_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="branding_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="branding_visible_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="branding_visible_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="branding_visible_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="branding_visible_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="branding_danados_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="branding_danados_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="branding_danados_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="branding_danados_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="vasos_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="vasos_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="vasos_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="vasos_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="vasos_visibles_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="vasos_visibles_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="vasos_visibles_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="vasos_visibles_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="vasos_quebrados_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="vasos_quebrados_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="vasos_quebrados_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="vasos_quebrados_no"]:checked+label {
    background: red;
    color: #fff;
}

/*
.switch-toggle input[value="bAndw1000_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="bAndw1000_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="bAndw1000_si"]:checked+label {
    background: green;
    color: #fff;
}


.switch-toggle input[value="bAndw1000_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="bAndw700_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="bAndw700_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="bAndw700_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="bAndw700_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="bAndw375_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="bAndw375_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}


.switch-toggle input[value="bAndw375_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="bAndw375_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="smirnoff375_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="smirnoff375_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="smirnoff375_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="smirnoff375_no"]:checked+label {
    background: red;
    color: #fff;
}
.switch-toggle input[value="smirnoff_ns375_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="smirnoff_ns375_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="smirnoff_ns375_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="smirnoff_ns375_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="smirnoff700_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="smirnoff700_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="smirnoff700_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="smirnoff700_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="smirnoff_ns700_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="smirnoff_ns700_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="smirnoff_ns700_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="smirnoff_ns700_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="jhonnie1000_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="jhonnie1000_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="jhonnie1000_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="jhonnie1000_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="jhonnie700_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="jhonnie700_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="jhonnie700_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="jhonnie700_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="jhonnie375_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="jhonnie375_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="jhonnie375_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="jhonnie375_no"]:checked+label {
    background: red;
    color: #fff;
}



.switch-toggle input[value="oldparr750_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="oldparr750_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="oldparr750_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="oldparr750_no"]:checked+label {
    background: red;
    color: #fff;
}



.switch-toggle input[value="buchannas700_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="buchannas700_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="buchannas700_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="buchannas700_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="buchannas375_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="buchannas375_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="buchannas375_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="buchannas375_no"]:checked+label {
    background: red;
    color: #fff;
}
 */

/*estado de los productos*/

.switch-toggle input[value="prod_tapados_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_tapados_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_tapados_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_tapados_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_danados_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_danados_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_danados_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_danados_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_visibles_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_visibles_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_visibles_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_visibles_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_rt_visibles_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_rt_visibles_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_rt_visibles_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_rt_visibles_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="prod_rt_properly_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_rt_properly_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_rt_properly_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_rt_properly_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_hl_visible_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_hl_visible_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_hl_visible_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_hl_visible_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_hl_danadas_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_hl_danadas_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_hl_danadas_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_hl_danadas_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_vs_quebrados_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_vs_quebrados_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_vs_quebrados_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_vs_quebrados_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_ds_visibles_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_ds_visibles_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_ds_visibles_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_ds_visibles_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_ds_diferentes_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_ds_diferentes_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_ds_diferentes_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_ds_diferentes_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_ds_danados_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_ds_danados_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_ds_danados_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_ds_danados_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="hl_con_prod_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="hl_con_prod_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="hl_con_prod_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="hl_con_prod_no"]:checked+label {
    background: red;
    color: #fff;
}



.switch-toggle input[value="bases_h_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="bases_h_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="bases_h_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="bases_h_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="baseshl_con_prod_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="baseshl_con_prod_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="baseshl_con_prod_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="baseshl_con_prod_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="prod_baseshl_visible_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_baseshl_visible_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_baseshl_visible_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_baseshl_visible_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="prod_baseshl_danadas_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="prod_baseshl_danadas_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="prod_baseshl_danadas_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="prod_baseshl_danadas_no"]:checked+label {
    background: red;
    color: #fff;
}




.switch-toggle input[value="cp_con_prod_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="cp_con_prod_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="cp_con_prod_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="cp_con_prod_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="hay_aguardiente_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="hay_aguardiente_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="hay_aguardiente_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="hay_aguardiente_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="hay_ron_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="hay_ron_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="hay_ron_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="hay_ron_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="ron_byw_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="ron_byw_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="ron_byw_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="ron_byw_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="ron_jhonny_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="ron_jhonny_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="ron_jhonny_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="ron_jhonny_no"]:checked+label {
    background: red;
    color: #fff;
}

.switch-toggle input[value="aguard_smirnoff_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="aguard_smirnoff_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="aguard_smirnoff_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="aguard_smirnoff_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="gift_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="gift_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="gift_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="gift_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="tipologia_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="tipologia_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="tipologia_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="tipologia_no"]:checked+label {
    background: red;
    color: #fff;
}


.switch-toggle input[value="activo"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="inactivo"]:checked+label {
    background: red;
    color: #fff;
}



.switch-toggle input[value="segmento_si"]:checked+label {
    background: green;
    color: #fff;
}

.switch-toggle input[value="segmento_choose"]:checked+label {
    background: rgb(255, 255, 255);
}

.switch-toggle input[value="segmento_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="segmento_no"]:checked+label {
    background: red;
    color: #fff;
}



.switch-toggle input[value="cal_marc_visible_choose"]:checked+label {
    background: rgb(255, 255, 255);

}

.switch-toggle input[value="cal_marc_visible_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="cal_marc_visible_si"]:checked+label {
    background: green;
    color: #fff;

}

.switch-toggle input[value="cal_marc_visible_no"]:checked+label {
    background: red;
    color: #fff;

}

.switch-toggle input[value="cal_marc_danados_choose"]:checked+label {
    background: rgb(255, 255, 255);

}

.switch-toggle input[value="cal_marc_danados_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="cal_marc_danados_si"]:checked+label {
    background: green;
    color: #fff;

}

.switch-toggle input[value="cal_marc_danados_no"]:checked+label {
    background: red;
    color: #fff;

}

.switch-toggle input[value="cal_marc_et_danados_choose"]:checked+label {
    background: rgb(255, 255, 255);

}

.switch-toggle input[value="cal_marc_et_danados_choose"]:disabled+label {
    background: rgb(255, 255, 255);
    color: #222;
    font-weight: normal;
}

.switch-toggle input[value="cal_marc_et_danados_si"]:checked+label {
    background: green;
    color: #fff;

}

.switch-toggle input[value="cal_marc_et_danados_no"]:checked+label {
    background: red;
    color: #fff;

}

/* noConcre*/

.noConcre {

    margin-left: 20%;
}


.boxes{
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
}

/*img*/

.card-img-top {

    padding: 1rem;
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    border-radius: 0.75rem;
    margin-left: 3rem;
}


.card-img-top_tip {

    padding: 1rem;
    width: 200px;
    height: 100px;
    border: 1px solid rgb(97, 48, 209);
    border-radius: 0.75rem;
    margin-left: 3rem;
}

.card-img-mate {
    padding: 1rem;
    width: 150px;
    height: 150px;
    border: 1px solid blue;
    border-radius: 0.75rem;
    margin-left: 3rem;
}

/*pregntas*/

.preguntas {

    margin: auto;
    text-align: center;
}

/*sectrions*/


.container {
    width: 100%;
    max-height: max-content;
    margin: 0 auto;
    margin-top: 100px;
}

.container h2 {
    position: relative;
    width: 23rem;
    color: hotpink;
    margin: 20px 0;
}

.container h2::after {
    position: absolute;
    content: '';
    width: 67px;
    height: 2px;
    right: 5px;
    background-color: hotpink;
    bottom: 0;
}

.accordion {
    width: 100%;
    padding: 0 5px;
    border: 2px solid #6db5ff;
    cursor: pointer;
    display: ;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 30px;

}

.accordion i {
    color: #6db5ff;
    transition: all .5s ease-in;
}

.accordion .fa-minus {
    display: none;
}

.active,
.accordion:hover {
    background-color: #6db5ff;
    color: white;
    transition: all .5s ease-in;
    border: 2px solid #dddddd;
}

.active .fa-minus {
    display: block;
}

.active .fa-plus {
    display: none;
}

.accordion h5 {
    font-size: 20px;
    margin: 0;
    color: #001733;
    padding-left: 5px;
}

.active i,
.active h5,
.accordion:hover i,
.accordion:hover h5 {
    color: white;
}

.panal {
    padding: 0 15px;
    border-left: 1px solid #6db5ff;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    transition: all .5s ease-in;
    max-height: 0;
}



/*nuevo toogle*/

.switch-toggle input {
    opacity: 0;
    height: 50px;
    max-height: 50px;
    position: absolute;
    border-radius: 15px;
}

.switch-toggle input+label {
    float: left;
    color: #fff;
    height: 50px;
    max-height: 50px;
    font-size: 12px;
    cursor: pointer;
}

/**/


blue {

    color: blue;

}

green {

    color: green;

}


red {
    color: red;

}


.titulo {

    margin-top: -5rem !important;
}



main {
    box-shadow: 0px 1px 3px 1px #ffff;
    padding: 1rem;
    display: ;
    -direction: column;
}

.input {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    border: 0;
}

.input>* {
    flex: 1;
    border: 0;
}

main button {
    align-self: flex-end;
}


.textar {
    box-sizing: border-box;
    border: 2px solid #ccc;
}

span.numeros {
    background: rgb(6, 218, 16);
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}

/*PROGERESS BAR*/

.progress {
    height: 35px;
    width: 100%;
    border: 1px solid #428bca;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}

.progress-bar {
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}


/*combo*/

.comboPadre {
    display: flex;
    align-items: center;
    justify-content: center;

}

.combo {

    width: 50%;
    align-items: center;
    justify-content: center;
}


/*materiales*/

.material {

    margin-top: 2rem;
    margin-bottom: 2rem;

}

.ttulo {
    text-align: center;

    font-size: 25px;
    text-transform: uppercase;


}

.flexbox {
    margin-top: 1rem;
    padding: 1rem;
    align-items: center;
    height: 50%;
    justify-content: center;
    width: 100%;
    background: #2C3E50;
    color: white;
    align-items: center;
    border-radius: 0.75rem;
    -webkit-border-radius: 075;
    -moz-border-radius: 075;
    -ms-border-radius: 075;
    -o-border-radius: 075;
}


span.gbp {
    float: left;
    text-align: left;
}

span.gbp::before {
    float: left;
    content: "\00a3"; /* £ */
    padding: 3px 4px 3px 3px;
}

span.gbp input {
     width: 280px !important;
}


/*swing img*/


@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


.card-box {
    background: #d1ddd3 !important;
    border-radius: 0.75rem;
    height: 400px;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -webkit-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -moz-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
}

.card-box-exhi {
    background: #d1ddd3 !important;
    border-radius: 0.75rem;
    height: 1200px;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -webkit-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -moz-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
}





.card-box .bt-menu {

    margin-left: 2rem;
    margin-right: 2rem;

}

.card-box-large {
    background: #d1ddd3 !important;
    border-radius: 0.75rem;
    height: 200px;
    width: 100%;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -webkit-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -moz-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
}

.card-box-small {
    background: #d1ddd3 !important;
    border-radius: 0.75rem;
    height: 370px;
    width: 25%;
    margin: auto;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    padding-top: 1rem;
    box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -webkit-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -moz-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
}



.card-box-marcas {
    background: #d1ddd3 !important;
    border-radius: 0.75rem;
    height: 600px;
    width: 25%;
    margin: auto;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    padding-top: 1rem;
    box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -webkit-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -moz-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
}



.card-box-double{

    background: #d1ddd3 !important;
    border-radius: 0.75rem;
    height: 250px;
    width: 350px;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    padding-top: 4rem;
    box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -webkit-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
    -moz-box-shadow: 22px 20px 42px 4px rgba(96, 92, 115, 0.69);
}
.double-shadow {
    font-size: calc(8px + 3vh);
    line-height: calc(10px + 5vh);
    /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
    text-shadow: 0 0 5px #369e4c, 0 0 15px #369e4c, 0 0 20px #369e4c, 0 0 40px #369e4c, 0 0 60px #003cff, 0 0 10px #00ff22, 0 0 98px #003cff;
    color: rgb(16, 81, 221);
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;
}

legend{

font-size: 100%;
text-align: center;
z-index: 1;


}

.card-bottles{
    background: white;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    height: 370px;
}


.card-comp{
    background: rgb(255, 255, 255) !important;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    height: 100px;
    text-align: center;
}

/* pretty radio */
label > input[type="radio"] {
    display: none;
  }
  label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
  }
  label > input[type="radio"]:checked + * {
    color: teal;
  }
  label > input[type="radio"]:checked + *::before {
    background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
    border-color: teal;
  }

  /* basic layout */
  fieldset {

    max-width: 250px;
  }
  label > input[type="radio"] + * {
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  .titulo_interno{

    font-size: 24px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(83, 177, 83);
  }
  .marcasT{
    font-weight: bold;
    font-size: 17px;
    height: 180px;
    position: relative;

  }
  .radiosT{

    text-align: center;
  }


  .box_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }

.noClass {

    width: 0px;
    background: transparent;
    color: transparent;
    border: transparent;
    text-align: center;
}

.input-group-text{

    width: 500px;
    margin-right: 1rem;
}

.form-check{

    text-align: center;
}
